[submodule "xtypes"]
    path = thirdparty/xtypes
    url = https://github.com/haodongnj/xtypes
[submodule "pugixml"]
    path = thirdparty/pugixml
    url = https://github.com/zeux/pugixml.git
[submodule "thirdparty/pybind11"]
	path = thirdparty/pybind11
	url = https://github.com/pybind/pybind11.git
